<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
        <testsuite name="all">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
